{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui grid container">
        <div class="ten wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">FirstName LastName</h2>
            
                <div class="ui one column grid">
                    <div class="left aligned column">
                        <h3>H3 Left Aligned column</h3>
                        <h4>H4 Left Aligned column</h4>
                        <h5>H5 Left Aligned column</h5>
                        <h6>H6 Left Aligned column</h6>
                    </div>
                </div>

               
        </div>
    </div>
{% endblock %}