{% extends 'resources/read_resource.html' %}
{% import 'macros/form_macros.html' as f %}

{% block form %}
    <div class="eight wide computer sixteen wide mobile centered column">
        <h2 class="ui dividing header">Write/Edit a Review</h2>

        {% set flashes = {
            'error':   get_flashed_messages(category_filter=['form-error']),
            'warning': get_flashed_messages(category_filter=['form-check-email']),
            'info':    get_flashed_messages(category_filter=['form-info']),
            'success': get_flashed_messages(category_filter=['form-success'])
        } %}

        {{ f.begin_form(form, flashes) }}

            {{ f.render_form_field(form.rating) }}
            {{ f.render_form_field(form.content) }}
            {{ f.render_form_field(form.submit) }}

            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

        {{ f.end_form(form) }}
    </div>
{% endblock %}

{% block script %}
{% endblock %}