{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered padded grid map-grid">
        <div class="fourteen wide column">
            <h1 class="ui dividing header">Resources Map</h1>
            <div class="ui stackable two column grid">
                <div class="eight wide column">
                    <div id="map"></div>
                </div>
                <div class="eight wide column">
                    <form class="ui form">
                        <div class="ui stackable two column grid">
                            <div class="eight wide column">
                                <div class="field">
                                    <label>Search for:</label>
                                    <input type="text" name="resource-type" placeholder="e.g. clothing, legal, food...">
                                    <i class="ui grey">Leave blank if searching for any type of resource</i>.
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="field">
                                    <label>Near:</label>
                                    <input type="text" name="last-name" placeholder="Address">
                                </div> 
                            </div> 
                        </div>
                        </br>
                        <button class="ui button" type="submit">Search</button>
                    </form>
                </div>        
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="http://hpneo.github.io/gmaps/gmaps.js"></script>
    <script>
        var map = new GMaps({
            div: '#map',
            lat: 39.8282, // Default coordinates for the center of the continental US.
            lng: -98.5795
        });
        map.setZoom(4);
        {% for resource in resources %}
            var longitude = {{ resource.address.zip_code.longitude }};
            var latitude = {{ resource.address.zip_code.latitude }};
            map.addMarker({
                lat: latitude,
                lng: longitude,
                infoWindow: {
                    content: "{{ resource.address.zip_code.zip_code }}"
                }
            });
        {% endfor %}
    </script>
{% endblock %}
