{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h1>Resource</h1>
            <table class="ui compact definition table">
                <tr><td>Name</td><td>{{ resource.name }}</td></tr>
                <tr><td>Description</td><td>{{ resource.description }}</td></tr>
                <tr><td>Website</td><td><a target="_blank" href="{{ resource.website }}">{{ resource.website }}</a></td></tr>
                <tr><td>Address</td><td>{{ street_address }}</td></tr>
                <tr><td>User</td><td>{{ full_name }}</td></tr>
            </table>
            <a href="{{ url_for('resources.create_review', resource_id=resource.id) }}">
                <button class="ui button">Write a Review</button>
            </a>
        </div>

        {% block form %}
        {% endblock %}

        {% for review in reviews %}
            <div class="twelve wide column">
                <h1>Reviews</h1>
                <h3>User: {{ review.user.full_name() }}</h3>
                <table class="ui compact definition table" id="{{ review.id }}">
                    <tr><td>Content</td>
                        <td>{{ review.content }}</td></tr>
                    <tr><td>Rating</td>
                        <td>{{ review.rating }}</td></tr>
                </table>
                {% if review.user_id is equalto current_user_id %}
                    <a href="{{ url_for('resources.update_review', review_id=review.id) }}">
                        <button class="ui button"><i class="write icon"></i></button>
                    </a>
                    <a href="{{ url_for('resources.delete_review', review_id=review.id) }}">
                        <button class="ui button"><i class="trash icon"></i></button>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
