{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="ten wide column">
            <h1>Resource</h1>
            <table class="ui compact definition table">
                <tr>
                    <td>Name</td>
                    <td>{{ resource.name }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ resource.description }}</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td><a target="_blank" href="{{ resource.website }}">{{ resource.website }}</a></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ resource.address.street_address }}</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>{{ resource.user.full_name() }}</td>
                </tr>
            </table>
            <a href="{{ url_for('resources.create_review', resource_id=resource.id) }}">
                <button class="ui button">Write a Review</button>
            </a>
        </div>


        <div class="ten wide column">
            <h1>Reviews</h1>
            <div class="ten wide column">
                <h2 class="ui dividing header">Search Reviews</h2>
            {% block form %}

                {% set flashes = {
                    'error':   get_flashed_messages(category_filter=['form-error']),
                    'warning': get_flashed_messages(category_filter=['form-check-email']),
                    'success': get_flashed_messages(category_filter=['form-success'])
                } %}

                {{ f.begin_form(form, flashes) }}

                    {{ f.render_form_field(form.content) }}
                    {{ f.render_form_field(form.submit) }}
                    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                    {{ f.form_message(flashes['info'], header='Information', class='info') }}
                    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                {{ f.end_form(form) }}
            {% endblock %}
            {% for review in reviews %}
                <h3>User: {{ review.user.full_name() }}</h3>
                <table class="ui compact definition table" id="{{ review.id }}">
                    <tr>
                        <td>Content</td>
                        <td>{{ review.content }}</td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td>{{ review.rating }}</td>
                    </tr>
                </table>
                {% if review.user_id is equalto current_user_id %}
                    <a href="{{ url_for('resources.update_review', review_id=review.id) }}">
                        <button class="ui button"><i class="write icon"></i></button>
                    </a>
                    <a href="{{ url_for('resources.delete_review', review_id=review.id) }}">
                        <button class="ui button"><i class="trash icon"></i></button>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
