{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="ten wide column">
            {% if closed_details|length is not equalto 0  %}
                <div class="ui accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        {% if closed_details|length is equalto 1 %}
                            1 person has reported that this resource is no longer available.
                        {% else %}
                            {{ closed_details|length }} people have reported that this resource is no longer available.
                        {% endif %}
                    </div>
                    <div class="content">
                        {% for closed_detail in closed_details %}
                            {% if closed_detail.explanation or closed_detail.connection %}
                                <p>
                                    {% if closed_detail.explanation %}
                                        <strong>Explanation</strong>: {{ closed_detail.explanation }} <br>
                                    {% endif %}
                                    {% if closed_detail.connection %}
                                        <strong>Connection</strong>: {{ closed_detail.connection }}
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div></br>
            {% endif %}

            <a href="#" id="unavailable-link">Is this resource no longer available?</a>

            <div class="ui modal">
                <i class="close icon"></i>
                <div class="header">
                    Please tell us more about why this resource no longer available
                </div>
                <div class="content">
                    <div class="description">
                        {% set flashes = {
                            'error':   get_flashed_messages(category_filter=['form-error']),
                            'warning': get_flashed_messages(category_filter=['form-check-email']),
                            'info':    get_flashed_messages(category_filter=['form-info']),
                            'success': get_flashed_messages(category_filter=['form-success'])
                        } %}
                        {{ f.begin_form(closed_form, flashes, action='/resources/close/' + resource.id|string) }}
                            {{ f.render_form_field(closed_form.explanation) }}
                            {{ f.render_form_field(closed_form.connection) }}
                            {{ f.render_form_field(closed_form.submit) }}

                            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                            {{ f.form_message(flashes['info'], header='Information', class='info') }}
                            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                        {{ f.end_form(closed_form) }}
                    </div>
                </div>
            </div>

            <h1>Resource</h1>
            <table class="ui compact definition table">
                <tr>
                    <td>Name</td>
                    <td>{{ resource.name }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ resource.description }}</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td><a target="_blank" href="{{ resource.website }}">{{ resource.website }}</a></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ resource.address.street_address }}</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>{{ resource.user.full_name() }}</td>
                </tr>
            </table>
            <a href="{{ url_for('resources.create_review', resource_id=resource.id) }}">
                <button class="ui button">Write a Review</button>
            </a>
        </div>

        {% block form %}
        {% endblock %}

        <div class="ten wide column">
            <h1>Reviews</h1>
            {% for review in reviews|sort(attribute='id', reverse=True) %}
                <h3>User: {{ review.user.full_name() }}</h3>
                <table class="ui compact definition table" id="{{ review.id }}">
                    <tr>
                        <td>Rating</td>
                        <td>{{ review.rating }}</td>
                    </tr>
                    <tr>
                        <td>Content</td>
                        <td>{{ review.content }}</td>
                    </tr>
                </table>
                {% if review.user_id is equalto current_user_id %}
                    <a href="{{ url_for('resources.update_review', review_id=review.id) }}">
                        <button class="ui button"><i class="write icon ok"></i></button>
                    </a>
                    <a href="{{ url_for('resources.delete_review', review_id=review.id) }}">
                        <button class="ui button"><i class="trash icon ok"></i></button>
                    </a>
                {% endif %}
            {% else %}
                <h3>Sorry, no reviews for this resource yet.</h3>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $("#unavailable-link").click(function() {
            $('.ui.modal').modal('show');
        });
        $('.ui.accordion').accordion();
        {%  if closed_form.errors %}
            $('.ui.modal').modal('show');
        {% endif %}
    </script>
{% endblock %}
