{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <table class="ui compact definition table">
                <tr><td>Name</td><td>{{ resource.name }}</td></tr>
                <tr><td>Description</td><td>{{ resource.description }}</td></tr>
                <tr><td>Website</td><td><a target="_blank" href="{{ resource.website }}">{{ resource.website }}</a></td></tr>
                <tr><td>Address</td><td>{{ address.street_address }}</td></tr>
                <tr><td>User</td><td>{{ user.full_name() }}</td></tr>
            </table>
            <a href="{{ url_for('resources.review', resource_id=resource.id ) }}">
                <button class="ui button">Write a Review</button>
            </a>
        </div>

        {% for review in resource.reviews.all() %}
        <div class="twelve wide column">
            <h1>Reviews</h1>
            <h3>User ID: {{ review.user_id }}</h3>
            <table class="ui compact definition table" id="{{ review.id }}">
                <tr><td>Content</td>
                    <td>{{ review.content }}</td></tr>
                <tr><td>Rating</td>
                    <td>{{ review.rating }}</td></tr>
            </table>
            {% if review.user_id is equalto current_user_id %}
                <a href="{{ url_for('resources.edit', resource_id=resource.id, review_id=review.id) }}">
                    <button><i class="write icon"></i></button>
                </a>
                <a href="{{ url_for('resources.delete', resource_id=resource.id, review_id=review.id) }}">
                    <button><i class="trash icon"></i></button>
                </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
