{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <table class="ui compact definition table">
                <tr><td>Name</td><td>{{ resource.name }}</td></tr>
                <tr><td>Description</td><td>{{ resource.description }}</td></tr>
                <tr><td>Website</td><td>{{ resource.website }}</td></tr>
                <tr><td>Address</td><td>{{ address.street_address }}</td></tr>
                <tr><td>User</td><td>{{ user.first_name }} {{ user.last_name }}</td></tr>
                <tr><td>Reviews</td><td>

                </td></tr>
            </table>
            <a href="{{ url_for('resources.review', resource_id=resource.id ) }}">
                <button class="ui button">Write a Review</button>
            </a>
        </div>

        {% for review in resource.reviews.all() %}
        <div class="twelve wide column">
            <h3>{{ review.user_id }}</h3>
            <table class="ui compact definition table">
                <tr><td>Content</td>
                    <td>{{ review.content }}
                        {% if review.user_id is equalto current_user_id %}
                            <i class="write icon"></i> <i class="trash icon"></i>
                        {% endif %}
                    </td></tr>
                <tr><td>Rating</td>
                    <td>{{ review.rating }}
                        {% if review.user_id is equalto current_user_id %}
                            <i class="write icon"></i> <i class="trash icon"></i>
                        {% endif %}
                    </td></tr>
            </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
    $(".write").click(function() {
        alert("Edit");
    });
    $(".trash").click(function() {
        alert("Delete");
    });
</script>