{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <table class="ui compact definition table">
                <tr><td>Name</td><td>{{ resource.name }}</td></tr>
                <tr><td>Description</td><td>{{ resource.description }}</td></tr>
                <tr><td>Website</td><td>{{ resource.website }}</td></tr>
                <tr><td>Address</td><td>{{ resource.address_id }}</td></tr>
                <tr><td>User</td><td>{{ resource.user_id }}</td></tr>
                <tr><td>Reviews</td><td>{{ resource.reviews }}</td></tr>
            </table>
        </div>
    </div>
{% endblock %}