{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
        <h1>Contact Women Veterans Rock!</h1>
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui segment">
                    <h3>Philadelphia Headquarters</h3>
                    <p> The Healthy Caregiver Community Foundation </br>
                        c/o “Women Veterans ROCK!” </br>
                        7782 Crittenden Street – P.O. Box 27774 </br>
                        Philadelphia, PA 19118-0774
                    </p>
                    <p>Telephone (215) 836-4262</p>
                    <p>Email – Info@WomenVetsRock.org</p>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui segment">
                    <h3>Washington D.C. Satellite Team</h3>
                    <p> Washington, D.C. Satellite Team</br>
                        Douglas Memorial United Methodist Church</br>
                        800 11th Street, NE</br>
                        Washington, DC 20002
                    </p>
                </div>
            </div>
        </div>
        <h1>Frequently Asked Questions</h1>
        <div class="ui segment">
            <p> FAQ here </p>
        </div>
    </div>
{% endblock %}
