{% extends 'layouts/base.html' %}
{% block content %}


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="http://hpneo.github.io/gmaps/gmaps.js"></script>
  <style type="text/css">

    #map {
      display: block;
      width: 70%;
      height: 500px;
      -moz-box-shadow: 0px 5px 20px #ccc;
      -webkit-box-shadow: 0px 5px 20px #ccc;
      box-shadow: 0px 5px 20px #ccc;
    }

    .ui.button{
      text-align: center;
      margin: 0 auto;
      }

  </style>
<div class="ui centered grid">
    <div class=" fourteen wide column">
        <div class="centered row">
            <h1>User Map</h1>
        </div>
        <div class="centered row">
            <button class="ui left attached button" >Users</button>
            <button class="right attached ui button">Resources</button>
        </div>
        <div class="centered row">
            <div id = "map">
                <script>
                    var map = new GMaps({
                      div: '#map',
                      lat: 39.8282,
                      lng: -98.5795
                    });
                    map.setZoom(4);
                   {% for user in users %}
                      var longitude = {{ user.zip_code.longitude }};
                      var latitude = {{ user.zip_code.latitude }};
                      map.addMarker({
                      lat: latitude,
                      lng: longitude,
                      infoWindow: {
                      content: "{{user.zip_code.zip_code}}"
                      }
                      });
                      console.log("{{user.zip_code.zip_code}}");
                   {% endfor %}
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
